
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eee;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.content-wrapper { /* Made so content is not overlapepd by fixed header */
  position: relative;
  top: 15vh;
}

/* Header below */

header {
  position: fixed;
  display: flex;
  background-color: #eee;
  height: 15vh;
  width: 100vw;
  padding: 2vh;
  opacity: 100%;
  z-index: 1;
}

header ul li {
  padding: 0.2vh;;
}

.logo {
  display: inline-block;
  width: 60vw;
  background-color: #;
}

/* Header above */

/* Footer below */

footer {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: #ddd;
}

footer table {

}

footer table tr:first-child {
  font-size: 1.15rem;
}

/* Footer above */

/* Form below */

form {
  padding: 10px;
  height: 15vh;
}

input {
  margin: 15px;
}

input[type="submit"] {
  display: block;
  margin: 0px auto;
  width: 30vw;
  background-color: #f1c40f;
  border: none;
  padding: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

input[type="email"] {
  width: 50vw;
  height: 3vh;
  padding: 3px;
}

/* Form above */

img {
  width: 100%;
  height: 100%;
}

/* Features section below */

.features-section p {
  margin-bottom: 7vh;
  font-size: 1.2rem;
}

.features-section h2 {
  font-size: 1.5rem;
}


/* Features section above */

/* Pricing section below */

.pricing-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-section > div {
  width: 60vw;
  height: 300px;
  margin: 0.5vh 0 0.5vh 0;
  border: 1px solid black;
}

.pricing-section div div { /* For Select button */
  margin: 0px auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  width: 100px;
  height: 40px;
  background-color: #f1c40f;
}

.pricing-section > div h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 15%;
  background-color: #ddd;
}

.pricing-section ul li {
  padding: 0.5vh 0 0.5vh 0;
}

.pricing-section ul li:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2vh 0 2vh 0;
}

/* Pricing section above */

@media (max-width: 550px) {
  body {
    text-align: center;
  }


  header {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
  }

  section img {
    width: 0;
  }


}


/* Add Breakpoints Here */
/* Apply to certain size and above */
